Deprecated==1.2.13
importlib-metadata==6.0.0
jinja-markdown==1.210911
Jinja2==3.1.2
Markdown==3.4.1
MarkupSafe==2.1.2
pydantic==1.10.4
pydantic-yaml==0.9.0
Pygments==2.14.0
pymdown-extensions==9.9.2
PyYAML==6.0
semver==2.13.0
types-Deprecated==1.2.9
typing_extensions==4.4.0
wrapt==1.14.1
zipp==3.11.0
